@import pl.lodz.p.ftims.obrotnik.stream.Source
@import views.templates.MenuItems

@import helper._
@import views.templates.BootstrapHelpers._

@(sources: Seq[Source], sourceForm: Form[Source])(implicit messages: Messages)

@templates.bootstrap("Input feeds", styles = Array("assets/stylesheets/main.css"))(templates.defaultNav(Some(MenuItems.SOURCE_LIST))) {
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <article class="panel panel-default">
                    <header class="panel-heading panel-title">
                        Register input
                    </header>
                    <section class="panel-body">
                    @form(action = routes.SourceController.add()) {
                        @inputText(sourceForm("uri"), 'type -> "url", 'class -> "form-control", '_label -> "URI")
                        @checkbox(sourceForm("active"), 'class -> "checkbox", '_label -> "Active")
                        <button type="submit" class="btn btn-block btn-success">
                            <i class="fa fa-plus"></i> Add
                        </button>
                    }
                    </section>
                </article>
            </div>
            <div class="col-md-9">
                <article class="panel panel-default">
                    <header class="panel-heading panel-title">
                        Input feeds
                    </header>
                    <section class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="col-md-1 col-xs-1">#</th>
                                    <th class="col-md-6 col-xs-5">URI</th>
                                    <th class="col-md-5 col-xs-6">Operations</th>
                                </tr>
                            </thead>
                            <tbody>
                            @for((source, index) <- sources.zipWithIndex) {
                                <tr>
                                    <td>@(index + 1)</td>
                                    <td>
                                        <a href="@source.uri">@source.uri</a>
                                    </td>
                                    <td class="inline-actions">
                                        <a href="@routes.FeedController.showSourceAsHtml(source.id.get.value)"
                                        class="btn btn-info btn-sm">
                                            <i class="fa fa-eye"></i> Read
                                        </a>
                                        <a href="@routes.FeedController.showSourceAsRss(source.id.get.value)"
                                        class="btn btn-info btn-sm">
                                            <i class="fa fa-rss"></i> Rss
                                        </a>
                                        @if(source.active) {
                                            @form(action = routes.SourceController.toggleActive(source.id.get.value, active = false)) {
                                                <button type="submit" class="btn btn-success btn-sm">
                                                    <i class="fa fa-play"></i> Active
                                                </button>
                                            }
                                        } else {
                                            @form(action = routes.SourceController.toggleActive(source.id.get.value, active = true)) {
                                                <button type="submit" class="btn btn-warning btn-sm">
                                                    <i class="fa fa-stop"></i> Inactive
                                                </button>
                                            }
                                        }
                                        @form(action = routes.SourceController.remove(source.id.get.value)) {
                                            <button type="submit" class="btn btn-danger btn-sm">
                                                <i class="fa fa-trash-o"></i> Remove
                                            </button>
                                        }
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </section>
                </article>
            </div>
        </div>
    </div>
}
